body {
  padding: 20px 50px 20px 50px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.ac_label {
  font-family: sans-serif;
  font-size: 10px;
}

h6 {
  font-family: sans-serif;
  text-align: center;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
}

#preview_pane {
  border: 1px solid black;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}

.highlight {
  background-color: #ddeeff;
}

#search_bars {
  width: 95%;
  margin: auto;
}

.keep {
  margin-bottom: 10px;
  max-height: 300px;
  overflow: auto;
}

.keep > p {
  font-size: 13px;
}

.keep_header {
  font-size: 13px;
}
