body {
  padding: 20px 50px 20px 50px;
}

#question_panel {
  border: 2px dashed black;
  background-color: #fdf5cc;
  overflow: auto;
  padding: 20px;
  display: table;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#question_list {
  display: inline-block;
}

#question_panel h4 {
  text-align: center;
}

#question_list p {
  display: inline-block;
  float: left;
  clear: both;
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#question_list input[type=checkbox] {
  margin-left: 30px;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

#question_done_button {
  width: 40%;
  margin-top: 10px;
  font-size: 14px;
}

#question_done_div {
  text-align: center;
}

.input, #query_text, label.radio {
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}

#sort_options {
  padding-top: 20px;
}

#sort_type_dropdown {
  font-family: sans-serif;
  font-size: 12px;
  width: 75%;
  border: black;
  margin-bottom: 10px;
}

form {
  margin-bottom: 0px;
}

#query_text {
  margin-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.agg_chart {
  height: 160px;
}

.ac_label {
  font-family: sans-serif;
  font-size: 8px;
}

#preview_pane {
  width: 90%;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

#preview_pane p {
  font-family: sans-serif;
  font-size: 14px;
}

#preview_pane pre {
  font-size: 13px;
}

.highlight {
  background-color: #ddeeff;
}

.main_cont {
  border: 1px dashed black;
}

form {
  text-align: center;
}

#search_results {
  width: 95%;
  margin: auto;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
  padding: 3px;
  margin-bottom: 10px;
}

#keep_cont {
  margin: 0 auto;
  width: 90%;
}

.keep {
  max-height: 300px;
  overflow: auto;
}

.keep p, .keep pre, .keep li {
  font-size: 11px;
}

.col {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.legend {
    font-size: 12px;
}

legend_rect {
    stroke-width: 2;
}
