<h5>You found a CSS selector.</h5>
{% if explanations %}
{% for selector, explanation in explanations.items %}
<p>
    {{ explanation }}
</p>
{% endfor %}
{% endif %}
{% if examples %}
{% for selector, example in examples.items %}
<p>
    Here's an example of what the '{{ selector|safe }}' selector will find:
</p>
<div class='example-code'>
{{ example|safe }}
</div>
{% endfor %}
{% endif %}
<p>
    <i>If you haven't seen them before</i>, selectors choose sections of HTML pages by their names or properties.
    Once you've 'grabbed' these elements with a selector, you can manipulate them, like changing their appearance or text.
</p>
