{% load staticfiles %}
<html>
    <head>
        <title>Tutorons</title>
        <link rel='icon' href="{% static "tutorons/img/favicon.png" %}" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.0/build/styles/default.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.0/build/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="//tutorons.com/static/tutorons-library.js"></script>
        <script>
          document.addEventListener("DOMContentLoaded", function (event) {
            var tutoronsConnection = new tutorons.TutoronsConnection(window);
            tutoronsConnection.scanDom();
          });
        </script>
        <link rel='stylesheet' href="{% static "tutorons/css/main.css" %}" />
    </head>
    <body>
        <div class='central-div'>
            <h1 class='main-title'>Tutorons</h1>
            <!--
            <p>
                <i>n. pl.</i>
                <i>Routines that generate micro-explanations of online code.</i>
            </p>
            -->
            <p>
            Tutorons automatically detect and explain code in programming tutorials on the web.
            They build context-relevant explanations to describe the purpose and syntax of code.
            </p>
            <p>
            See some of the explanations Tutorons can generate by clicking on highlighted code in the snippets below.
            The highlighted code was detected and explained dynamically by Tutorons when this page loaded.
            The examples below include explanations for a variety of small languages like wget, CSS selectors, regular expressions, and Python built-in functions.
            </p>
            <pre><code class='bash'>wget -A".pdf" -r -l1 -p -k http://eecs.berkeley.edu/~andrewhead</code></pre>
            <pre><code class='python'>soup.select('div#sidebar a[href^=youtube]')[0].get_text()</code></pre>
            <pre><code>RewriteRule ^(scripts|assets|daemons)($|/) - [L]</code></pre>
            <pre><code class='python'>[item for item in range(len(a)) if a[item] == 'bar']</code></pre>
            <p>Curious about how Tutorons were designed and built? Read our paper:</p>
            <div>
                <p><span class="paper-title"><a href="http://andrewhead.info/pdf/tutorons.pdf">Tutorons: Generating Context-Relevant, On-Demand Explanations and Demonstrations of Online Code.</a> </span>Andrew Head, Codanda Appachu, Marti Hearst, Björn Hartmann. VL/HCC '15. <img class="icon" title="Honorable mention" alt="" src="{% static "tutorons/img/badge.svg" %}"> This paper received an Honorable Mention for Best Paper. </p>
            </div>
            <p>
            <h2>Add Tutorons to your tutorial</h2>
            <p>
            To enable Tutorons, and thus context-relevant explanations, for code in your tutorial, add the Tutorons library script to the header of your web page's HTML:
            </p>
            <pre><code class='html'>&lt;script src="//tutorons.com/static/tutorons-library.js"&gt;&lt;/script&gt;
&lt;script&gt;
  document.addEventListener("DOMContentLoaded", function (event) {
    var tutoronsConnection = new tutorons.TutoronsConnection(window);
    tutoronsConnection.scanDom();
  });
&lt;/script&gt;
</code></pre>
            <p>
            If you want to enable explanations for another language not currently included in Tutorons, you may need to build a custom explainer. See the next section.
            </p>
            <h2>Build Tutorons for a new language</h2>
            <p>
            <!--If you are interested in working to improve detection and explanation of code on the web, download the local versions of the software and start playing around with it.-->
            If you want to enable explanations for a language not yet supported by Tutorons, you'll need to create an explainer. Currently, the recommended method for this is by extending <a href='https://github.com/andrewhead/tutorons-base'>this base implementation of a Tutorons server</a>. Follow <a href="https://github.com/andrewhead/tutorons-base/blob/master/docs/tutorial.md">this tutorial</a> to learn how to build on top of the Tutorons framework to write you own custom rules for detecting and generating explanations for a new language.
            </p>
            <h2>Browse the web with the Tutorons browser extension</h2>
            <p>
            To see automatic explanations for wget, CSS selectors, regular expressions, and Python built-ins everywhere you navigate online, install the <a href="{% static "tutorons-addon.xpi" %}">Firefox addon</a>.
            <!--Just open the file to install into Firefox.-->
            Then click on the <img class='img-inline' src="{% static "tutorons/img/addon_icon.png" %}"/> icon to enable automatic detection of code and insertion of explanations.
            Give the new plugin a spin by viewing some explanations for wget <a href="http://riceball.com/d/content/screen-scraping-wget-and-mailarchiva">on this tutorial</a> and some explanations for regular expressions <a href="http://webmasters.stackexchange.com/questions/9457/apache-domain-redirect-to-subfolder">on this tutorial</a>.  Explanations may take a few seconds to appear as the Tutorons work to detect the code.
            </p>
            <!--<a href="https://github.com/andrewhead/tutorons-server"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>-->
            <h2>Contribute</h2>
            <p>
            Check out our GitHub projects for the Tutorons <a href="https://github.com/andrewhead/tutorons-base">backend</a> and <a href="https://github.com/andrewhead/tutorons-library">frontend</a>. Pull requests, bug fixes, and suggestions are most welcome!
            </p>
        </div>
    </body>
</html>
