{% load staticfiles %}
<html>
    <head>
        <title>Tutorons</title>
        <script src="http://www.tutorons.com/static/tutorons-library.js"></script>
        <script>
          document.addEventListener("DOMContentLoaded", function (event) {
            var tutoronsConnection = new tutorons.TutoronsConnection(window);
            tutoronsConnection.scanDom();
          });
        </script>
        <link rel='stylesheet' href="{% static "tutorons/css/main.css" %}" />
    </head>
    <body>
        <div class='central-div'>
            <h1 class='main-title'>Tutorons</h1>
            <p>
                <i>n. pl.</i>
                <i>Routines that generate micro-explanations of online code.</i>
            </p>
            <p>Click on highlighted regions to view code explanations.</p>
            <pre><code>$('table tr td').css('font-size', '12px');</code></pre>
            <pre><code>wget -A".pdf" -r -l1 -p -k http://eecs.berkeley.edu/~andrewhead</code></pre>
            <pre><code>RewriteRule ^(scripts|assets|daemons)($|/) - [L]</code></pre>
            <br>
            <p><a href='https://github.com/andrewhead/Tutorons'>View source on Github</a></p>
        </div>
    </body>
</html>
