body {
	background-color: white;
	background-image: url(img/backstripe.gif);
	background-repeat: repeat-y;
	margin-left: 30px;
	margin-right: 0px;
	margin-top: 0px;
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
p {
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
p.small {
	font-size: 10px;
	line-height: 12px;
}
p.cardinal {
	color: #8c1515;
}
.p {
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
span.cardinal {
	color: #8c1515;
}
.review {
	color: green;
}
.border {
	border: 1px solid #8c1515;
}
.bottomborder {
	border-bottom: 1px solid #8c1515;
}
.indent {
	margin-left: 3em;
}
table {
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
th {
	font-weight: bold;
	color: #8c1515;	
}
ul	{
	font-size: 12px;
	line-height: 16px;
}
ul.nobullet {
	list-style-type: none;
}
li.standalone {
	font-size: 12px;
	line-height: 16px;
	list-style-position: outside;
}
dl	{
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
dl.indent {
	margin-left: 3em;
}
h1 {
	font-size: 18px;
	font-weight: bold;
	color: #8c1515;
	margin-top: 18px;
}
h2 {
	font-size: 14px;
	font-weight: bold;
	color: #8c1515;
	margin-top: 14px;
}
h2.green {
	color: #a40526;
}
h2.nospace {
	margin-top: 0px;
	margin-bottom: 0px;
}
h3 {
	font-size: 12px;
	font-weight: bold;
	color: #8c1515;
	margin-top: 20px;
	margin-bottom: 0em;
}
h4 {
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 20px;
	margin-bottom: 0em;
}
h5 {
	font-size: 11px;
	font-weight: bold;
	color: black;
	margin-top: 16px;
	margin-bottom: 0em;
}
p.title {
	font-family: Palatino, Georgia, Book Antiqua, serif;
	font-size: 22px;
	line-height: 24px;
}
table.navbar {
	background-color: #F5EEC6;
	margin-left: -9px;
}
table.newstuff {
	background-color: #e0ffe0;
}
p.navbar {
	font-size: 12px;
	font-weight: bold;
}
table.footer {
	margin-top: 10px;
	margin-left: -9px;
	border-top: solid;
	border-top-width: 1px;
}
a:link {
	text-decoration: none;
	color: #000099;
}
a:visited {
	text-decoration: none;
	color: #660099;
}
a:hover {
	text-decoration: underline;
}
a[name]:hover {
	text-decoration: inherit;
	color: inherit; 
	background: inherit
}
a:active {
	text-decoration: none;
}

a.navbar:link {
	text-decoration: none;
	color: #8c1515;
	background: #F5EEC6;
}
a.navbar:visited {
	text-decoration: none;
	color: #8c1515;
	background: #F5EEC6;
}
a.navbar:hover {
	text-decoration: underline;
}
a.navbar:active {
	text-decoration: none;
}
a[name] {
	text-decoration: inherit;
	color: inherit; 
	background: inherit
}
a {
	color: #003333;
}
.over {
	color: #993300;
}
.highlight {
        color: #FF0000;
}
