cd {{ djdir }}/deps/

if [ ! -d wget-1.16 ]
then 
	wget http://ftp.gnu.org/gnu/wget/wget-1.16.tar.gz
	tar xzvf wget-1.16.tar.gz
	mv wget_main.c wget-1.16/src/main.c
fi

cd wget-1.16

if [ ! -f Makefile ]
then 
	./configure --with-ssl=openssl
fi

if [ ! -f src/wget ]
then
	make
fi
