upstream {{ appname }}_server {
    server localhost:{{ localport }} fail_timeout=0;
}
 
server {
    listen 80;
    server_name {{ domain }} www.{{ domain }};

    keepalive_timeout 5;
 
    location /static/ {
        alias {{ projectdir }}/static/;
    }
 
    # Redirect the rest to your django app server
    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
 
        if (!-f $request_filename) {
            proxy_pass http://{{ appname }}_server;
            break;
        }
    }
}
