[program:{{ appname }}]
command={{ venv }}/gunicorn {{ appname }}.wsgi --bind 127.0.0.1:{{ localport }} --pid /tmp/gunicorn-{{ appname }}.pid
directory={{ djdir }}
environment=DJANGO_SETTINGS_MODULE="{{ djsettings }}"
