{% load staticfiles %}
<html>
    <head>
        <title>Appachu Andrew Bonanza</title>
        <link rel="stylesheet" href="{% static "skim/css/style.css" %}">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://d3js.org/queue.v1.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
        <script src="{% static "skim/js/bars.js" %}"></script>
    </head>
    <body>
        <form method="get" action="http://www.celere.com">
            <input type="text" name="q" maxlength=100 placeholder="Search..." required>
            <input type="button" value="Search" action="submit">
        </form>
        <p>Showing search results for {{ query }}</p>
        <div id="search_bars" style="width: 60%; height: 550px;"></div>
        <div id="aggregate_chart" style="width: 60%; height: 150px;"></div>
    </body>
</html>
