{% load staticfiles %}
<html>
    <head>
        <title>CodeSkim</title>
        <link rel="stylesheet" href="{% static "skim/css/style.css" %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/vs.min.css">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://d3js.org/queue.v1.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
        <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
        <script>
            var data = {{ answers|safe }};
            var questions = {{ questions|safe }};
            var query = "{{ query|safe }}";
        </script>
        <script src="{% static "skim/js/bars.js" %}"></script>
    </head>
    <body>
        <div id="search_pane">
            <form method="get" action="http://www.celere.com">
                <input class="input" type="text" name="q" maxlength=100 placeholder="Search..." required>
                <input class="input" type="button" value="Search" action="submit">
                <label id="query_text">Showing search results for {{ query }}</p>
            </form>
        </div>
        <div class="cols">
            <div class="col" style="width:45%; float: left;">
                <h4>Search Results</h4>
                <div id="search_results" class="main_cont" style="height: 55%;"></div>
                <div class="cols">
                    <div class="col" style="width: 30%; float: left;" id="sort_options">
                        <h5>Sort</h5>
                        <form id="sort_options_form">
                            <select id="sort_type_dropdown">
                                <option value="none">None</option>
                                <option value="length">Length</option>
                                <option value="code_lines">Code Lines</option>
                                <option value="text_lines">Text Lines</option>
                                <option value="votes">Votes</option>
                                <option value="reputation">Reputation</option>
                            </select>
                            <br>
                            <label><input type="radio" name="sort_order" value="ascending">Ascending</label>
                            <br>
                            <label><input type="radio" name="sort_order" value="descending" checked>Descending</label>
                        </form>
                    </div>
                    <div class="col cols" style="float: left; width: 70%;">
                        <h5>Markup</h5>
                        <div class="col" style="width: 50%; float: left;">
                            <h6>Classes</h6>
                            <div class="agg_chart" id="aggregate_chart"></div>
                        </div>
                        <div class="col" style="width: 50%; float: left;">
                            <h6>Concepts</h6>
                            <div class="agg_chart" id="concept_chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="width:55%; float: left;">
                <h4>Source Preview</h4>
                <div id="preview_pane" class="main_cont" style="height: 35%; overflow: auto;"></div>
                <h4>Snippets</h4>
                <div id="keep_cont"></div>
            </div>
        </div>
    </body>
</html>
