.standard-ad-125x125 .thumbnails {
	margin-left: -20px;
}

.standard-ad-125x125 .thumbnails > li .thumbnail {
	display: block;
	overflow: hidden;
	background: #fff;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-color: #ddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015);
}

.standard-ad-125x125 .thumbnails > li a.thumbnail:hover {
	border-color: #dedede;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}


.standard-ad-125x125 .thumbnails > li .thumbnail > img {
	padding: 2px 0;
	width: 125px;
	height: auto;
}