.si-wrapper {
	-webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
	-moz-box-shadow: inset	0 1px 2px 0 rgba(0, 0, 0, 0.2),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.si-total {
	padding: 10px 0 8px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background: #fff;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(248, 248, 248)), to(rgb(238, 238, 238)));
	background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(238, 238, 238));
	background-image: -moz-linear-gradient(top, rgb(248, 248, 248), rgb(238, 238, 238));
	background-image: -o-linear-gradient(top, rgb(248, 248, 248), rgb(238, 238, 238));
	background-image: -ms-linear-gradient(top, rgb(248, 248, 248), rgb(238, 238, 238));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f8f8f8', EndColorStr='#eeeeee');
	border: 1px solid #e0e0e0;
	-moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.8) inset;
	-webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.8) inset;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.8) inset;
}

.si-total-number {
	color: #454545;
	font-size: 32px;
	font-weight: 900;
	line-height: 1;
	letter-spacing: 1px;
	margin-bottom: 2px;
}

.si-total-title {
	color: #888;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

.si-individual {
	padding: 10px 0 8px;
/* 	margin: 0 5px; */
	border: 1px solid #e0e0e0;
	background: #fff;
}

.si-individual ul {
	display: block; 
	overflow: hidden;
	margin-left: -2%
}

.si-individual ul > li {
	display: block; 
	height: auto; 
	float: left;
	margin-left: 2%; 
	width: 31.2%; 
	margin-bottom: 0;
	text-align: center;
}

.si-individual ul > li:nth-child(3n+1) {
	clear: left;
}

.si-individual ul li a {
	color: #999;
	background: url(icn-social-sprites.png) 0 0 no-repeat;
	padding: 0 0 0 20px;
	display: inline-block;
	overflow: hidden;
}

.si-individual ul li a:hover {
	color: #b6b6b6;
}

.si-individual .si-twitter a {
	background-position: 0 -37px;
}

.si-individual .si-facebook a {
	background-position: 0 -57px;
}

.si-individual .si-rss a {
	background-position: 0 2px;
}