.main-title {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 64px;
  margin: 20px auto;
}

.central-div {
  margin: 0px auto;
  margin-top: 40px;
  width: 60%;
  max-width: 700px;
}

p {
  margin-top: .6em;
}

h2, h3, h4, h5, h6 {
  margin-top: 20px;
}

p, h2, h3, h4, h5, h6, li {
  font-family: Helvetica, sans-serif;
  line-height: 1.3em;
}

h2 {
  font-size: 20px;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
}

pre {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #E1EFFF;
  border: 1px dashed black;
  padding-top: .6em;
  padding-bottom: .6em;
  padding-left: 15px;
  margin-top: 10px 0;
  font-size: 14px;
  overflow: scroll;
  line-height: 1.2em;
}

.img-inline {
  height: 0.9em;
}

.example-code {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  vertical-align: top;
  background: #0000ff;
  border: 1px solid rgba(0, 0, 255, 0.3);
}

#one, #two, #three {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background: #0000e0;
  float: left;
  border: 1px solid rgba(0, 0, 255, 0.3);
}
