@charset "UTF-8";
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Paul Irish */
body {
  background: #e2daaf url("sidebar.jpg") repeat-y center top;
  padding-top: 1.5em;
  font-family: "Crimson Text", serif;
}
@media screen and (min-width: 400px) {
  body {
    font-size: 1.125em;
    line-height: 1.33333em;
  }
}
@media screen and (min-width: 480px) {
  body {
    background-position: right top;
  }
}
@media screen and (min-width: 660px) {
  body {
    background-position: 90% top;
  }
}
@media screen and (min-width: 780px) {
  body {
    background-position: 80% top;
  }
}
@media screen and (min-width: 960px) {
  body {
    background-position: 70% top;
  }
}

header {
  position: absolute;
  top: 0px;
  left: 1%;
  right: 1%;
  padding-top: 0.8em;
  text-align: center;
  font-family: "Gentium Book Basic", serif;
}
@media screen and (min-width: 480px) {
  header {
    left: auto;
    right: 20%;
  }
}
@media screen and (min-width: 960px) {
  header {
    right: 27.5%;
  }
}
header a.site-title {
  display: block;
  color: #75402f;
  text-decoration: none;
}
header span.title {
  text-shadow: 0px 1px 0px #ebe2d2, 0px -1px 0px black;
  /* TODO: body.index & {font-size: 1.5em;} */
}
header span {
  display: block;
  white-space: nowrap;
}
header .author:before {
  content: "by ";
}
header img {
  height: 24px;
  width: 24px;
}

footer {
  line-height: 1em;
  text-align: center;
}
@media screen and (min-width: 560px) {
  footer {
    margin-left: 20%;
  }
}

.scraps {
  margin: 2.5em auto;
  max-width: 40em;
  padding: 0.8em 5%;
}
.scraps > div {
  /* float: left; */
}
.scraps:after {
  clear: both;
  content: " ";
}

body.index .social-media .media {
  text-align: center;
}
body.index .social-media .media > div {
  display: inline-block;
  vertical-align: top;
}

body.chronological article {
  /* Narrow screens: date, title, and summary are simply stacked
     vertically. To help the dates stand out we provide a little more
     space above them, and make them italic. */
}
body.chronological article h2, body.chronological article p {
  margin: 0.5em 0em;
  font-size: 1em;
}
body.chronological article .date2 {
  margin-top: 1.2em;
  font-style: italic;
  word-spacing: 0.18em;
}
@media screen and (min-width: 490px) {
  body.chronological article {
    /* Wide screens: float the date left, into a separate column. With the
       date providing a visual cue, the vertical separation between items
       can be reduced to 1em, and the date no longer has to be italic. */
  }
  body.chronological article h2, body.chronological article p {
    margin: 1em 0em 1em 6em;
  }
  body.chronological article .date2 {
    float: left;
    margin: 0em;
    font-style: normal;
  }
}

article {
  margin: 2.5em auto;
  max-width: 40em;
  padding: 0.8em 5%;
  -webkit-box-shadow: 2px 2px 7px black;
  -moz-box-shadow: 2px 2px 7px black;
  box-shadow: 2px 2px 7px black;
  background-color: #f7f4e4;
}
article .date {
  margin-top: 0.8em;
  text-align: center;
  color: #bb9d69;
}
article .date a {
  color: #bb9d69;
}
article h1 {
  margin-top: 0px;
  border-top: 1px solid #770000;
  color: #770000;
  text-align: center;
  line-height: 1em;
  font-weight: normal;
}
article h2 {
  color: #770000;
  font-weight: normal;
}
article blockquote, article .caption {
  color: #5b511b;
}
article .caption {
  display: block;
  text-align: center;
  margin: 0.3em 10%;
  padding-top: 0.5em;
}
article blockquote {
  border-top: 1px solid #ebe4bd;
  border-bottom: 1px solid #ebe4bd;
  padding: 0.3em 0em;
}
article div.warning {
  border-top: 4px solid #990000;
  border-bottom: 4px solid #990000;
  /* background-color: lighten(red, 43%); */
  padding: 0.3em 1em;
  color: #990000;
}
article div.warning p {
  margin: 0.5em 0;
}
article div.warning .admonition-title {
  text-align: center;
  font-weight: bold;
}
article ul {
  padding-left: 1em;
}
@media screen and (min-width: 480px) {
  article ul {
    padding-left: 1.5em;
  }
}
article li {
  margin-top: 1em;
  margin-bottom: 1em;
}
article dt {
  margin-top: 1em;
  margin-bottom: 0.3em;
}
article img, article iframe {
  max-width: 100%;
}
article tt, article code {
  color: #770000;
  font-size: 0.88889em;
  line-height: 1.5em;
}
article tt a, article code a {
  color: #770000;
}
article img, article .image-reference {
  display: block;
  margin: 0.2em auto 1em;
  max-width: 100%;
}
article img.inline {
  display: inline;
}
article .image-reference {
  text-align: center;
}
@media screen and (min-width: 560px) {
  article .image-reference {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}
article .image-reference img {
  -webkit-box-shadow: 2px 2px 7px #5b511b;
  -moz-box-shadow: 2px 2px 7px #5b511b;
  box-shadow: 2px 2px 7px #5b511b;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #aa9732 #5b511b #5b511b #aa9732;
}
article:after {
  display: block;
  clear: both;
  height: 0px;
  width: 0px;
  content: " ";
}

.blog-summary a {
  color: #5e0000;
  text-decoration: none;
}
.blog-summary a:hover {
  text-decoration: underline;
}

pre {
  -webkit-box-shadow: 0px 0px 7px #664400;
  -moz-box-shadow: 0px 0px 7px #664400;
  box-shadow: 0px 0px 7px #664400;
  background-color: white;
  padding: 0.3em 0.5em;
  width: 40em;
  /* nearly 80 characters with Inconsolata */
  font-size: 0.77778em;
  line-height: 1.28571em;
  font-family: "Inconsolata", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
  white-space: pre;
}

body .pygments_autumn .nc, body .pygments_autumn .nn {
  text-decoration: none;
}

body .pygments_autumn .err {
  color: inherit;
  background: none;
}

.mouseover-image-stack {
  position: relative;
}
.mouseover-image-stack img {
  margin: 0;
}
.mouseover-image-stack img:last-child {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.mouseover-image-stack:hover img:last-child {
  display: block;
}

/* Variation of https://github.com/john2x/solarized-pygment */
.pygments_murphy {
  background: #eee8d5;
  color: #2c373b;
  /* Comment */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.pygments_murphy .hll {
  background-color: #ffffcc;
}
.pygments_murphy .c {
  color: #606e6e;
  font-style: italic;
}
.pygments_murphy .g {
  color: #861d50;
}
.pygments_murphy .k {
  color: #2c3300;
}
.pygments_murphy .l {
  color: #15504c;
}
.pygments_murphy .n {
  color: #16527c;
}
.pygments_murphy .cm {
  color: #606e6e;
  font-style: italic;
}
.pygments_murphy .cp {
  color: #606e6e;
  font-style: italic;
}
.pygments_murphy .c1 {
  color: #606e6e;
  font-style: italic;
}
.pygments_murphy .cs {
  color: #606e6e;
  font-style: italic;
}
.pygments_murphy .gd {
  color: #861d50;
}
.pygments_murphy .ge {
  color: #861d50;
}
.pygments_murphy .gr {
  color: #861d50;
}
.pygments_murphy .gh {
  color: #861d50;
}
.pygments_murphy .gi {
  color: #861d50;
}
.pygments_murphy .go {
  color: #861d50;
}
.pygments_murphy .gp {
  color: #861d50;
}
.pygments_murphy .gs {
  color: #861d50;
}
.pygments_murphy .gu {
  color: #861d50;
}
.pygments_murphy .gt {
  color: #861d50;
}
.pygments_murphy .kc {
  color: #2c3300;
  font-weight: bold;
}
.pygments_murphy .kd {
  color: #2c3300;
}
.pygments_murphy .kn {
  color: #8d1a18;
  font-weight: bold;
}
.pygments_murphy .kp {
  color: #2c3300;
}
.pygments_murphy .kr {
  color: #2c3300;
}
.pygments_murphy .kt {
  color: #2c3300;
  font-weight: bold;
}
.pygments_murphy .ld {
  color: #15504c;
}
.pygments_murphy .m {
  color: #15504c;
  font-weight: bold;
}
.pygments_murphy .s {
  color: #15504c;
}
.pygments_murphy .na {
  color: #16527c;
}
.pygments_murphy .nb {
  color: #6f290c;
}
.pygments_murphy .nc {
  color: #6f290c;
}
.pygments_murphy .no {
  color: #16527c;
}
.pygments_murphy .nd {
  color: #16527c;
}
.pygments_murphy .ni {
  color: #16527c;
}
.pygments_murphy .ne {
  color: #16527c;
}
.pygments_murphy .nf {
  color: #16527c;
}
.pygments_murphy .nl {
  color: #16527c;
}
.pygments_murphy .nn {
  color: #16527c;
}
.pygments_murphy .nx {
  color: #16527c;
}
.pygments_murphy .py {
  color: #16527c;
}
.pygments_murphy .nt {
  color: #16527c;
  font-weight: bold;
}
.pygments_murphy .nv {
  color: #16527c;
}
.pygments_murphy .ow {
  color: #2c3300;
}
.pygments_murphy .w {
  color: #2c373b;
}
.pygments_murphy .mf {
  color: #15504c;
  font-weight: bold;
}
.pygments_murphy .mh {
  color: #15504c;
  font-weight: bold;
}
.pygments_murphy .mi {
  color: #15504c;
  font-weight: bold;
}
.pygments_murphy .mo {
  color: #15504c;
  font-weight: bold;
}
.pygments_murphy .sb {
  color: #15504c;
}
.pygments_murphy .sc {
  color: #15504c;
}
.pygments_murphy .sd {
  color: #15504c;
}
.pygments_murphy .s2 {
  color: #15504c;
}
.pygments_murphy .se {
  color: #15504c;
}
.pygments_murphy .sh {
  color: #15504c;
}
.pygments_murphy .si {
  color: #15504c;
}
.pygments_murphy .sx {
  color: #15504c;
}
.pygments_murphy .sr {
  color: #15504c;
}
.pygments_murphy .s1 {
  color: #15504c;
}
.pygments_murphy .ss {
  color: #15504c;
}
.pygments_murphy .bp {
  color: #6f290c;
}
.pygments_murphy .vc {
  color: #16527c;
}
.pygments_murphy .vg {
  color: #16527c;
}
.pygments_murphy .vi {
  color: #16527c;
}
.pygments_murphy .il {
  color: #15504c;
  font-weight: bold;
}
