{% load staticfiles %}
<html>
    <head>
        <title>Tutorons</title>
        <link rel='stylesheet' href="{% static "tutorons/css/main.css" %}" />
    </head>
    <body>
        <div class='central-div'>
            <h1 class='main-title'>Tutorons</h1>
            <p>
                <i>n. pl.</i>
                Routines that generate micro-explanations of online code.
            </p>
            <p><a href='https://github.com/andrewhead/Tutorons'>View source on Github</a></p>
        </div>
    </body>
</html>
